{% extends 'Customers/index.html' %}

{% block title %}
    <title>View Customers</title>
{% endblock %}

{% block content %}
    <div class="viewcustomers-content text-center  content-height">
            <div class="mt-5 mb-3">
                <span class="caption bg-warning">
                    <caption >Click on Customer Name to Transfer money</caption>
                </span>
            </div>
        <div class="container my-4 table-responsive">
            <table class="table .w-auto table-bordered table-hover bold-text">
                <thead class="thead-dark">
                    <tr>
                        <th style="width:10%">Customer Name</th>
                        <th style="width:10%">Account Number</th>
                        <th style="width:10%">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in customers %}
                        <tr>
                            <td><a href="{% url 'showcustomer' detail.id %}">{{ detail.CustomerName }}</a></td>
                            <td>{{ detail.AccountNumber }}</td>
                            <td>{{ detail.CustomerMail }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}